/* - - - - - - - - - - - - - - - - - - - - - - - File: sass/wefc-pages.sass */
// added by Apollo Tang


body
//  background-color: #aaa !important
  
#header
  height: 60px
  
#slide-region
  width: 960px
  margin:
    left: auto
    right: auto
