/* - - - - - - - - - - - - - - - - - - - - - - - File: sass/wefc-pages.sass */
// added by Apollo Tang


  
#header
  min-height: 240px
  
#hidden-wrap
  display: none  

#block-menu-menu-test-menu-1
  float: left
  
#block-search-form
  float: right    

#block-block-1
  clear: both

#slide-region
  width: 960px
  margin:
    left: auto
    right: auto
