/* - - - - - - - - - - - - - - - - - - - - - - - File: sass/wefc-init.sass */
// added by Apollo Tang
// WEFC theme initialization

$slide-image-width: 980px
// also, don't forget to set this value in: custom/modules/ddblock/upright20p/ddblock-cycle-upright20p.sass

$half-gutter: 20px

$wefc-yellow: hsl(44, 100%, 50%)
$wefc-green: hsl(120, 100%, 20%)

$links-underline-color: #ccc
$links-underline-color-hover: #ccc
$links-txt-color: #000
$links-txt-color-hover: $wefc-green


