/* - - - - - - - - - - - - - - - - - - - - - - - File: sass/wefc-pages.sass */
// added by Apollo Tang

body
  color: $wefc-text-color
  background-color: $wefc-background-color
  
#header
  overflow: hidden
  padding-bottom: 20px
  
#hidden-wrap
  display: none  
  
#top-navigation-region-wrap
  float: right
  
#search-region-wrap
  float: right    

#headline-region-wrap
  float: left
  clear: both
  min-height: 70px

#slide-wrap
  width: $slide-image-width
//#slide-region
//  width: $slide-image-width
//  margin:
//    left: auto
//    right: auto



#top-wrap-inner
  float: left
  padding: 2px
  width: 98% // prevent cliping at the right side of the box
  

#content-inner
  margin:
    left: $half-gutter
    right:  $half-gutter
  
#sidebar-inner
    
.region-sidebar-first
  #sidebar-inner
    margin-right: $half-gutter
.region-sidebar-second    
  #sidebar-inner
    margin-left: $half-gutter