/* - - - - - - - - - - - - - - - - - - - - - - - File: sass/_wefc-navigation.sass */
// added by Apollo Tang
 

// overide: original zen's #navigation styling
#navigation 
  width: 100%
  float: left



// override: sass/navigation.scss, line 84

#secondary-menu
  float: left /* LTR */


nav, .region-navigation
  width: 100%
  float: left 





/* style wefc main menu */
#main-menu
  overflow-y: hidden
  width: 100%
  background: url(images/tabs.png) repeat-x scroll 0 -43px hsl(94, 27%, 57%)
  border: solid hsl(94, 46%, 28%) 1px
  +border-radius(5px)
  margin-right: 1px
  ul.links
    float: left
    padding-left: 20px
    li
      margin: 0
      padding: 0
    li:first-child a
      border-left: solid hsl(94, 46%, 28%) 1px
    li a
      border-right: solid hsl(94, 46%, 28%) 1px
      background: url(images/tabs.png) repeat-y scroll 0 -41px hsl(94, 27%, 57%)
      padding: 5px 14px 5px 14px
      color: #ddd
      +text-shadow(#333 1px 1px 1px)
      &:hover
        background-position: -1px -03px
        color: hsl(44, 100%, 50%)

 
 
/* Top navigation styling */  
#top-navigation-region-wrap  // copy that from #navigation in file: navigation.scss 
  /* overflow: hidden  */ 
  .block
    margin-bottom: 0 
  .block-menu .block-title,
  .block-menu-block .block-title 
    @include element-invisible() 
  ul.links, 
  ul.menu 
    margin: 0 
    padding: 0 
    text-align: left  /* LTR */
    li  /* A simple method to get navigation links to appear in one line. */
      float: left  /* LTR */
      padding: 0 10px 0 0  /* LTR */
      list-style-type: none 
      list-style-image: none
      