/* - - - - - - - - - - - - - - - - - - - - - - - File: sass/_wefc-navigation.sass */
// added by Apollo Tang
 

// overide: original zen's #navigation styling
#navigation 
  width: 100%
  float: left



// override: sass/navigation.scss, line 84

#secondary-menu
  float: left /* LTR */


nav, .region-navigation
  width: 100%
  float: left 